*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #e2c3c9, #c995a2,#5a7fa2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Navigation bar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #31405f;
    padding: 5px 5px;
}
nav h1{
    font-size: 30px;
    color: white;
}
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
.menu{
    display: flex;
}
.menu li{
    list-style-type: none;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}
.menu li:hover{
    color: #c995a2;
}
.dis{
    color: white;
    border: 2px solid white;
    padding: 4px 6px;
    border-radius: 15px;
}
/* HOME PAGE */
.page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture{
    margin-left: 10%;
}
.content h1{
    font-size: 60px;
    color: #5a7fa2;
    margin-top: 30px;
}
.content p{
    font-size: 20px;
}
.content button{
    margin: 20%;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 18px;
    background-color: #31405f;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.content button:hover{
    transform: scale(1.1,1.1);
}
.picture img{
    height: 40vh;
}
form{
    margin: 15%;
}
input{
    border: none;
    margin: 10px;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    padding: 5px;
}
#trans{
    margin: 10px;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #31405f;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 10%;
}
footer .links a{
    text-decoration: none;
    color: magenta;
    margin-left: 10px;
}
.hide{
    display: none;
}
/* Tables */
th{
    background-color: #5a7fa2;
    font-size: 20px;
    padding: 5px 5px;
    color: white;
}
td{
    background-color: #31405f;
    font-size: 20px;
    padding: 5px 5px;
    color: white;

}
select{
    height: 40px;
    width:200px;
    border: none;
    font-size: 20px;
    background-color: #c995a2;
}
@media screen and (max-width: 800px) {
    .menu { 
        display:none;
        background-color:#31405f;
        position: absolute;
        right: 35%;
        text-align: center;
        padding: 16px 0;
       }
    .menu li{
        padding-bottom: 5px;
        font-size: 20px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
       }
    .hamburger {
        display: block;
       }
    .dropdown {
        top: 40px;
        width: 100vw;
        transform: translateX(35%);
       }
    .picture{
        display: none;
    }
    .page{
        padding: 10px 10px;
    }
    .members td{
        background-color: #31405f;
        font-size: 15px;
    }
    .members th{
        background-color: #5a7fa2;
        font-size: 15px;
    }
    footer{
        display: none;
    }
}